/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
.odd-square {
    background-color: black!important;
}
.even-square {
    background-color: white!important;
}

@media screen and (width < 200px) {
    .checkeredBoard {
        display: grid;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (width > 200px) and (width < 420px)  {
  .checkeredBoard {
      display: grid;
      border: 1px solid black;
      width: 100vw;
      height: 100vw;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (width >= 420px)  {
  .checkeredBoard {
      display: grid;
      border: 1px solid black;
      width: calc((420px) + ((100vw - 420px)/5));
      height: calc((420px) + ((100vw - 420px)/5));
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.checkeredBoardContainer {
    overflow: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
